@keyframes colorChange {
  0% {
    text-shadow: 0 0 5px rgb(21, 94, 117);
    color: rgb(21, 94, 117);
  }

  50% {
    text-shadow: 0 0 5px rgb(8, 145, 178);
    color: rgb(8, 145, 178);
  }

  100% {
    text-shadow: 0 0 5px rgb(21, 94, 117);
    color: rgb(21, 94, 117);
  }
}

.text-color-animation {
  animation: colorChange 5s linear infinite;
  color: rgb(21, 94, 117);
}

.slow-spin {
  animation: spin 20s linear infinite;
}